body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

h1, .stat p {
    color: green;
    font-size: 2em;
    font-weight: bold;
}

h2, h3 {
    color: silver;
}

.stat {
    display: inline-block;
    margin: 10px 20px;
    text-align: center;
}

.highlight {
    color: green;
    animation: flash 0.5s alternate 3;
}

@keyframes flash {
    from { opacity: 1; }
    to { opacity: 0.3; }
}


#img006 {
    display: block; /* Necessario per margin: 0 auto; */
    width: 20%; /* Imposta la larghezza al 50% del contenitore */
    height: auto; /* Mantiene le proporzioni dell'immagine */
    margin: 20px auto; /* Centra l'immagine orizzontalmente e aggiunge un margine verticale */
}
